<!-- Footer -->
  <footer style = "background-color:rgba(0,0,0,0.9)">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <span class="copyright text-muted">Copyright &copy; Centuria Augusta 2020</span>
        </div>
        <div class="col-md-4">
          <ul class="list-inline social-buttons">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/centuria.augusta/">
                <i class="fab fa-facebook-f"></i>
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-inline quicklinks">
            <li class="list-inline-item">
              <a href="https://drive.google.com/file/d/1XcWXLg1AlVp8odswtXpT8cZLVHnXEoFG/view">Código da Praxe</a>
            </li>
            <li class="list-inline-item">
              <a href="https://cabidodecardeais.blogspot.com">Cabido de Cardeais</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>