<nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger ml-auto" href="/" style="font-size:100%">
      <img width="30" src="{{ site.baseurl }}/{{ site.data.nav.logo }}" hspace="10" />
      {{ site.data.nav.title }}
    </a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav text-uppercase ml-auto">
        {% for link in site.data.nav.links %}
          <li class="nav-item">
            <a class="nav-link" href="{{ site.baseurl }}/{{ link.url }}"> {{ link.title }} </a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>