<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="{{ site.baseurl }}/vendor/jquery/jquery.min.js"></script>
<script src="{{ site.baseurl }}/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- Plugin JavaScript -->
<script src="{{ site.baseurl }}/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- interactive -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/interactiveimagejs@2.7.1/dist/interactive-image.min.js"></script>
<!-- Contact form JavaScript -->
<script src="{{ site.baseurl }}/js/jqBootstrapValidation.js"></script>
<script src="{{ site.baseurl }}/js/contact_me.js"></script>
<!-- Custom scripts for this template -->
<script src="{{ site.baseurl }}/js/centuria.js"></script>

